// $phone: "(min-width: 320px) and (max-width: 600px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #323233;
}

// main {
//   align-items: center
// }

//---------------------- GRID --------------------------------------------------

.container {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  .row {
    font-size: 0;
    &:after, &:before {
      content: '';
      clear: both;
      display: table;
    }
  }
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  width: 100%;
  margin: 5px 0;
}

@for $i from 1 to 13 {
  .col-#{$i} {
    width: (100% / 12) * $i;
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
}

//-------------------------------- HEADER --------------------------------------

header {
  h1 {
    font-weight: 300;
    color: #f1f1f4;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    @media #{$tablet} {
      font-size: 42px;
    }
    @media #{$desktop} {
      font-size: 44px;
    }
  }
}

//--------------------------------- MAIN ---------------------------------------

#form {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
}

// IMG BOX
.left-box {
  display: none;
  @media #{$tablet} {
    width: 35%;
    height: 600px;
    display: block;
    margin-left: 50px;
    background-color: red;
    background-image: url("../images/pencil.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  @media #{$desktop} {
    width: 35%;
    height: 600px;
    display: block;
  }
}

// FORM'S BOX
.right-box {
  max-width: 100%;
  width: 100%;
  background-color: #f1f1f4;
  padding: 10px;
  @media #{$tablet} {
    width: 65%;
    height: 600px;
    padding: 30px;
    margin-right: 50px;
  }
  @media #{$desktop} {
    width: 65%;
    height: 600px;
    padding: 30px;
  }
}

.start-form {
  display: none;
}

.main-form {
  h2 {
    color: #323233;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    @media #{$tablet} {
      padding: 15px;
    }
    @media #{$desktop} {
      padding: 15px;
    }
  }
  form {
    fieldset {
      padding: 10px;
      border: none;
    }
  }
}

label {
  font-size: 12px;
  color: #5F5F61;
  p {
    margin-top: 20px;
    @media #{$tablet} {
      margin: 15px 0 0 15px;
    }
    @media #{$desktop} {
      margin: 15px 0 0 15px;
    }
  }
}

@mixin field($padding) {
  height: 45px;
  padding: $padding;
  // margin: 0 5px;
  font-size: 16px;
  color: #323233;
  text-transform: uppercase;
  text-align-last: center;
  border: none;
  border-bottom: 2px solid #28A9A7;
  outline: inherit;
  background-color: #f1f1f4;
  background-color: transparent;
  &:focus {
    border-bottom: 2px solid #B63D99;
  }
}

input, select {
  @include field(10px 0 5px 0);
  @media #{$tablet} {
    @include field(12px);
  }
  @media #{$desktop} {
    @include field(12px);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.field-container {
  display: flex;
}

.name-container, .email-container {
  input {
    width: 100%;
  }
}

.mobile-container {
  select, input {
    &.mobile {
      flex-grow: 1;
    }
    &.tel {
      flex-grow: 5;
    }
  }
}

.birth-container {
  select {
    &.dob-day {
      flex-grow: 1;
    }
    &.dob-month {
      flex-grow: 4;
    }
    &.dob-year {
      flex-grow: 1;
    }
  }
}

.agreement-container {
  justify-content: flex-end;
  margin: 20px 0;
  // justify-content: space-between;
  input {
    display: none;
  }
  span {
    width: 30px;
    height: 30px;
    display: block;
    border: 2px solid #28A9A7;
    margin-left: 10px;
    cursor: pointer;
  }
  p {
    margin: 0;
    line-height: 30px;
  }
}

input[type="checkbox"]:checked + span {
  width: 30px;
  height: 30px;
  background-image: url("../images/ok_green.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  color: #ffffff;
  // font-weight: 700;
  border-style: none;
  background-color: #28A9A7;
  margin-top: 15px;
  cursor: pointer;
  &:hover {
    background-color: #2BB6B4;
  }
  &:active {
    background-color: #B63D99;
    transform: translateY(1px);
  }
}

// .button {
//   display: inline-block;
//   background-color: #24ba9f;
//   border-radius: 10px;
//   font-weight: 400;
//   text-transform: uppercase;
//   color: #ffffff;
//   text-align: center;
//   cursor: pointer;
//   margin: 0 auto;
//   position: absolute;
//   left: 0;
//   right: 0;
// }
//
// .button:hover {
//   background-color: #27CCAE;
// }
//
// .button:active {
//   background-color: #24ba9f;
//   transform: translateY(1px);
// }


.finish-form {
  display: none;
}






//
