$phone: "(min-width: 320px) and (max-width: 600px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #242425;
}

// GRID

.container {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  .row {
    font-size: 0;
    &:after, &:before {
      content: '';
      clear: both;
      display: table;
    }
  }
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  width: 100%;
  margin: 5px 0;
}

@for $i from 1 to 13 {
  .col-#{$i} {
    width: (100% / 12) * $i;
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
}

// HEADER

header {
  h1 {
    font-size: 42px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
  }
}

// MAIN

#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-box {
  max-width: 100%;
  // width: 35%;
  height: 85vh;
  background-color: red;
  display: none;
  @media #{$tablet} {
    width: 35%;
    height: 550px;
    display: block;
    margin-left: 50px;
  }
  @media #{$desktop} {
    width: 35%;
    height: 550px;
    display: block;
  }
}

.right-box {
  max-width: 100%;
  width: 100%;
  height: 85vh;
  background-color: #f1f1f4;
  padding: 10px;
  @media #{$tablet} {
    width: 65%;
    height: 550px;
    padding: 30px;
    margin-right: 50px;
  }
  @media #{$desktop} {
    width: 65%;
    height: 550px;
    padding: 30px;
  }
}

.start-form {
  display: none;
}

.main-form {
  h2 {
    color: black;
    font-size: 18px;
    padding: 15px;
  }
  form {
    // height: 450px;
    fieldset {
      border: none;
    }
  }
}

label {
  font-size: 12px;
  color: black;
  // margin: 25px;
  p {
    margin: 25px 0 0 15px;
  }
}

input, select {
  font-size: 12px;
  height: 40px;
  // width: 100%;
  border: none;
  border-bottom: 2px solid red;
  outline: inherit;
  background-color: #f1f1f4;
  padding: 10px;
  @media #{$tablet} {
    font-size: 16px;
  }
  @media #{$desktop} {
    font-size: 16px;
  }
}


input {
  padding: 15px;
  // margin: 0 5px
}



.name-container {
  display: flex;
  input {
    width: 100%;
    margin: 0 5px;
  }
}

.mobile-container {
  display: flex;
  select, input {
    margin: 0 5px;
    &.mobile {
      flex-grow: 1;
    }
    &.tel {
      flex-grow: 5;
    }
  }
}

.birth-container {
  display: flex;
  select {
    margin: 0 5px;
    &.dob-day {
      flex-grow: 1;
    }
    &.dob-month {
      flex-grow: 4;
    }
    &.dob-year {
      flex-grow: 1;
    }
  }
}



.finish-form {
  display: none;
}






//
